# --------- pytorch --------- #
torch~=1.8.1
torchvision~=0.9.1
pytorch-lightning>=1.5.10
torchmetrics>=0.7.0

# --------- hydra --------- #
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
hydra-optuna-sweeper>=1.1.0

# REQUIREMENTS FROM MEAN SHIFTED AD USING CL
faiss-gpu==1.7.1

n_sphere
joblib==1.0.1
numpy==1.21
Pillow==9.0.0
pkg-resources==0.0.0
scikit-learn==0.24.2
scipy==1.6.3
sklearn==0.0
threadpoolctl==2.1.0
torch==1.8.1
torchvision==0.12.0
tqdm==4.61.0
typing-extensions==3.10.0.0

git+https://github.com/AJSVB/dirichlet.git#egg = dirichlet


# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml
# tensorboard

# --------- linters --------- #
pre-commit      # hooks for applying linters on commit
black           # code formatting
isort           # import sorting
flake8          # code analysis
nbstripout      # remove output from jupyter notebooks

# --------- others --------- #
python-dotenv~=0.19.2
rich~=11.2.0
pytest~=7.0.1
sh~=1.14.2
pudb            # debugger

diagvibsix~=0.0.1
setuptools==60.9.3

imageio>=2.8.0

omegaconf~=2.1.1
matplotlib~=3.5.1
scikit-image~=0.19.2
PyYAML~=6.0
packaging~=21.3